[Desktop Entry]
GenericName[ar]=لعبة سباق سيارات ثلاثية الأبعاد مفتوحة المصدر
GenericName[be]=3D-гульня для гонак на картах з адкрытым зыходным кодам
GenericName[bg]=3-измерна състезателна игра с колички, с отворен код
GenericName[ca]=Un joc de curses de karts en 3D de codi obert.
GenericName[cs]=3D open source závodní hra motokár
GenericName[da]=Et 3D-kartracerspil i open source
GenericName[de]=Ein Open-Source 3D-Kart-Rennspiel
GenericName[el]=Ενα 3D ανοιχτού κώδικα παιχνίδι  αγώνων με κάρτ 
GenericName[eo]=3D-a malfermitkoda karta vetkurad-ludo
GenericName[es]=Un juego de carreras de karts en 3D de código abierto.
GenericName[eu]=Kart lasterketetako 3D jolas librea
GenericName[fi]=Avoimen lähdekoodin kolmiulotteinen kilpa-ajopeli
GenericName[fr]=Un jeu libre de course de karts en 3D
GenericName[gd]=Geama rèisidh chartaichean 3D le bun-tùs fosgailte
GenericName[gl]=Un xogo de carreiras de karts en 3D e de código aberto.
GenericName[he]=משחק מֵרוצי מכוניות בתלת־ממד ובקוד פתוח
GenericName[hu]=Egy 3D-s, nyílt forráskódú gokartverseny játék
GenericName[id]=Sebuah permainan balap kart 3D sumber-terbuka
GenericName[it]=Un gioco open-source 3D di corse su kart
GenericName[ja]=オープンソースな3Dレーシングカートゲームです
GenericName[ko]=3D 오픈소스 카트 경주 게임
GenericName[mk]=3D open-source тркачка картинг игра
GenericName[ml]=ഒരു സ്വതന്ത്ര 3D കാർട്ട് റേസിംഗ് ഗെയിം
GenericName[nb]=En 3D åpen kildekode raskenspill.
GenericName[nl]=Een open source 3D kartracespel
GenericName[nn]=Eit racerspel i 3D med open kjeldekode
GenericName[pl]=Trójwymiarowe wyścigi gokartów open-source
GenericName[pt]=Um jogo 3D de karting com mascotes de aplicativos open source.
GenericName[pt_BR]=Corridas de kart em 3D e código aberto
GenericName[ru]=Свободная трёхмерная гоночная игра на картах
GenericName[sk]=3D open-source závodná hra v štýle arkády
GenericName[sr]=Игра тркања колицима слободног кода
GenericName[sv]=Ett 3D-racingspel med öppen källkod
GenericName[th]=เกมแข่งรถโอเพ่นซอร์ส 3 มิติ
GenericName[tr]=3D açık kaynaklı kart yarış oyunu
GenericName[uk]=3D-гоночна гра з відкритим кодом
GenericName[zh_CN]=一个三维开源赛车游戏
GenericName[zh_HK]=3D 開源卡丁車賽車遊戲
GenericName[zh_TW]=3D 開源卡丁車賽車遊戲
GenericName=A 3D open-source kart racing game
Icon=/usr/games/SuperTuxKart/data/supertuxkart_128.png
Exec=/usr/games/SuperTuxKart/run_game.sh
Categories=Game;
