[Desktop Entry]
Name=SuperTuxKart
Comment[ar]=لعبة سباق سيارات ثلاثية الأبعاد مفتوحة المصدر
Comment[be]=3D-гульня для гонак на картах з адкрытым зыходным кодам
Comment[bg]=3-измерна състезателна игра с колички, с отворен код
Comment[ca]=Un joc de curses de karts en 3D de codi obert.
Comment[cs]=3D open source závodní hra motokár
Comment[da]=Et 3D-kartracerspil i open source
Comment[de]=Ein Open-Source 3D-Kart-Rennspiel
Comment[el]=Ενα 3D ανοιχτού κώδικα παιχνίδι  αγώνων με κάρτ 
Comment[eo]=3D-a malfermitkoda karta vetkurad-ludo
Comment[es]=Un juego de carreras de karts en 3D de código abierto.
Comment[eu]=Kart lasterketetako 3D jolas librea
Comment[fi]=Avoimen lähdekoodin kolmiulotteinen kilpa-ajopeli
Comment[fr]=Un jeu libre de course de karts en 3D
Comment[gd]=Geama rèisidh chartaichean 3D le bun-tùs fosgailte
Comment[gl]=Un xogo de carreiras de karts en 3D e de código aberto.
Comment[he]=משחק מֵרוצי מכוניות בתלת־ממד ובקוד פתוח
Comment[hu]=Egy 3D-s, nyílt forráskódú gokartverseny játék
Comment[id]=Sebuah permainan balap kart 3D sumber-terbuka
Comment[it]=Un gioco open-source 3D di corse su kart
Comment[ja]=オープンソースな3Dレーシングカートゲームです
Comment[ko]=3D 오픈소스 카트 경주 게임
Comment[mk]=3D open-source тркачка картинг игра
Comment[ml]=ഒരു സ്വതന്ത്ര 3D കാർട്ട് റേസിംഗ് ഗെയിം
Comment[nb]=En 3D åpen kildekode raskenspill.
Comment[nl]=Een open source 3D kartracespel
Comment[nn]=Eit racerspel i 3D med open kjeldekode
Comment[pl]=Trójwymiarowe wyścigi gokartów open-source
Comment[pt]=Um jogo 3D de karting com mascotes de aplicativos open source.
Comment[pt_BR]=Corridas de kart em 3D e código aberto
Comment[ru]=Свободная трёхмерная гоночная игра на картах
Comment[sk]=3D open-source závodná hra v štýle arkády
Comment[sr]=Игра тркања колицима слободног кода
Comment[sv]=Ett 3D-racingspel med öppen källkod
Comment[th]=เกมแข่งรถโอเพ่นซอร์ส 3 มิติ
Comment[tr]=3D açık kaynaklı kart yarış oyunu
Comment[uk]=3D-гоночна гра з відкритим кодом
Comment[zh_CN]=一个三维开源赛车游戏
Comment[zh_HK]=3D 開源卡丁車賽車遊戲
Comment[zh_TW]=3D 開源卡丁車賽車遊戲
Comment=A 3D open-source kart racing game
Icon=/usr/games/SuperTuxKart/data/supertuxkart_128.png
Exec=/usr/games/SuperTuxKart/run_game.sh
Categories=Game;
